@model IEnumerable<WorkshopWeb.Models.Ticket>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <a href="@Url.Action("Slots", "Calendar")" class="btn btn-primary">View Calendar</a>
    <a href="@Url.Action("CreateTicket", "Home")" class="btn btn-primary">Create Ticket</a>
    
</div>
<h2>Tickets</h2>
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Model</th>
                <th>Brand</th>
                <th>Registration ID</th>
                <th>Description</th>
                <th>Assigned To</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model)
            {
                <tr>
                    <td>@ticket.Model</td>
                    <td>@ticket.Brand</td>
                    <td>@ticket.RegId</td>
                    <td>@ticket.Description</td>
                    <td>
                        @foreach (var userTicket in ticket.UserTickets)
                        {
                            @(userTicket.CustomUser.Name + " " + userTicket.CustomUser.Surname)
                            <br>
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("TicketDetails", "Home", new { ticketId = ticket.TicketId })" class="btn btn-primary">Details</a>

                    </td>
                    <td>
                        <form asp-action="DeleteTicket" method="post">
                            <input type="hidden" name="ticketId" value="@ticket.TicketId" />
                            <input type="hidden" name="__RequestVerificationToken" value="@Html.AntiForgeryToken()" />
                            <button type="submit" class="btn btn-danger">Delete Ticket</button>
                        </form>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <p>No tickets available.</p>
}